<footer>
  <section>
    <h3>LOVE THE HUSTLE</h3>
    <p>I like to explore and build anything related to programming! hire me</p>
    <p><a href="#">theluckorange@yahoo.com</a></p>
  </section>
  <section>
    <div>
      <p>&copy; 2017</p>
      <p>All rights reserved.</p>
    </div>
    <ul>
      <li>start a conversation</li>
      <li><a href="#">theluckorange@yahoo.com</a></li>
    </ul>
    <ul>
      <li>Work</li>
      <li><a href="https://github.com/colorlessenergy">My Work</a></li>
    </ul>
    <ul>
      <li>Social</li>
      <li><a href="https://www.instagram.com/codebrian_/">Instagram</a></li>
      <li><a href="https://github.com/colorlessenergy">Github</a></li>
    </ul>
  </section>
</footer>
