.gallery-img {
  align-items: flex-end;
  background-position: center;
  display: flex;
  height: 400px;
  margin: 10px 0;
}

.gallery-img {
  position: relative;
}

.gallery-img:before {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  content:" ";
  display: block;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
}

.gallery .gallery-img div {
  color: #373737;
  margin: 0 0 20px 20px;
}

.gallery .gallery-img div p {
  margin-top: 0;
  font-size: 30px;
}
