.pagination {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.pagination p, .pagination h3 {
  letter-spacing: 1px;
}

.pagination .arrow {
  color: #eece21;
  font-size: 30px;
  margin: 0;
}


@media only screen and (min-width: 961px) {
  .pagination {
    height: 350px;
  }

}
